/* The slider */
.form-toggle .slider {
    @apply border border-transparent bg-gray-300 shadow-inner cursor-pointer absolute inset-0 ring-0 ring-brand-500 ring-opacity-0;

    transition: all .15s ease-out, box-shadow .2s ease-in-out;

    .slider-dot {
        content: "";
        left: .25rem;
        top: 50%;
        transition: all .15s ease-out;
    }
}

.form-toggle {
    input:checked + .slider {
        @apply bg-brand-500;
    }

    input:focus + .slider {
        @apply outline-none ring-2 ring-brand-500 ring-offset-2;
    }

    input:checked + .slider .slider-dot {
        left: 100%;
        @apply -ml-5;
    }

    input:disabled, &[readonly] {
        + .slider {
            @apply cursor-not-allowed;
        }

        + .slider .slider-dot {
            @apply bg-gray-100;
        }

        &:focus + .slider {
            @apply ring ring-gray-300 ring-opacity-50;
        }
    }
}
